<div ui-view="slider" class="slider" ng-class="{ 'slider_slide': slide }"></div>

<hc-chart options="chartOptions" data="data" class="chart" ng-hide="loading"></hc-chart>

<div class="windows8" ng-show="loading">
    <div class="wBall" id="wBall_1">
        <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_2">
        <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_3">
        <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_4">
        <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_5">
        <div class="wInnerBall"></div>
    </div>
</div>